# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/

# Environment variables and secrets
.env
.env.*

# Keep example environment files
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Airflow
airflow.db
airflow.cfg
webserver_config.py
airflow-webserver.pid

# Data files
*.csv
*.parquet
*.xlsx

ecommerce-dbt-analytics-warehouse/tests/fixtures/ci_bronze/
ecommerce-dbt-analytics-warehouse/tests/fixtures/ci_silver/

# Docker and database volumes
postgres_data/
airflow_logs/


#reautorise les fichiers synthétiques
!ecommerce-dbt-analytics-warehouse/tests/fixtures/ci_raw/*.csv